<div class="container-full target">
  <div class="row">
    <div class="col-lg-12 text-center v-center">
      <h1 class="" contenteditable="false">TUNAGUU</h1>

      <p class="lead" contenteditable="false"><%= @vision_copy %></p>
      <div class="fb-like" data-href="https://aiiiiiin.herokuapp.com/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
      <div class="vendor">
        <iframe width="840" height="630" src="//www.youtube.com/embed/<%= @youtubu %>" frameborder="0" allowfullscreen　class="col-lg-6 text-center v-center"></iframe>
      </div>
      <form action="/regist" method="post">
      <div class="input-group input-group-lg col-sm-offset-4 col-sm-4">
        <input type="text" name="email" class="center-block form-control input-lg" title="Enter you email."
        placeholder="サービスが始まったらメール通知を受ける"> <span class="input-group-btn"><button  type="submit" class="btn btn-lg btn-primary" type="button">OK</button></span>
      </div>
      </form>
    </div>

  </div>

  <!-- /row -->
  <div class="row">
    <div class="col-lg-12 text-center v-center" style="font-size:39pt;"> <a href="#" class=""><i class="icon-google-plus"></i></a>  <a href="#" class=""><i class="icon-facebook"></i></a>
      <a
      href="#" class=""><i class="icon-twitter"></i>

    </a> <a href="#" class=""><i class="icon-github"></i></a>  <a href="#" class=""><i class="icon-pinterest"></i></a>

  </div>
</div>
<br class="">
<br class="">
<br class="">
<br class="">
<br class="">
</div>
<!-- /container full -->
<div class="container">
  <hr class="">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="" contenteditable="false"><%= @block01_titile %></h3>
          <ul class="list-inline intro-social-buttons">
            <li><a href="/ok/<%= @setting %>/block01" class="btn btn-default btn-lg"><i class='fa fa-thumbs-up'></i><span class='label label-success'><%= @ok_base_block01_count %></span></a>
            </li>
            <li><a href="/ng/<%= @setting %>/block01" class="btn btn-default btn-lg"><i class='fa fa-thumbs-down'></i><span class='label label-danger'><%= @ng_base_block01_count %></span></a>
            </li>
          </ul>
        </div>
          <div class="panel-body">
            <%= @block01_body %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="" contenteditable="false"><%= @block02_titile %></h3>
            <ul class="list-inline intro-social-buttons">
              <li><a href="/ok/<%= @setting %>/block02" class="btn btn-default btn-lg"><i class='fa fa-thumbs-up'></i><span class='label label-success'><%= @ok_base_block02_count %></span></a>
              </li>
              <li><a href="/ng/<%= @setting %>/block02" class="btn btn-default btn-lg"><i class='fa fa-thumbs-down'></i><span class='label label-danger'><%= @ng_base_block02_count %></span></a>
              </li>
            </ul>
          </div>
            <div class="panel-body">
              <%= @block02_body %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="" contenteditable="false"><%= @block03_titile %></h3>
              <ul class="list-inline intro-social-buttons">
                <li><a href="/ok/<%= @setting %>/block03" class="btn btn-default btn-lg"><i class='fa fa-thumbs-up'></i><span class='label label-success'><%= @ok_base_block03_count %></span></a>
                </li>
                <li><a href="/ng/<%= @setting %>/block03" class="btn btn-default btn-lg"><i class='fa fa-thumbs-down'></i><span class='label label-danger'><%= @ng_base_block03_count %></span></a>
                </li>
              </ul>
            </div>
              <div class="panel-body">
                <%= @block03_body %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <br class="">
            <br class="">
            <p class="pull-right"><a href="http://www.aiiiiiin.com" class="">Aiiiiiin</a> &nbsp;
              ©Copyright 2014 K2works.</p>
              <br class="">
              <br class="">
            </div>
          </div>
        </div>
